nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Will be useful for payment form later on */
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main table
{
    /* left-align contents */
    text-align: left;
}

main tfoot
{
    /* boldface tables' footers */
    font-weight: bold;
}
