{% extends "layout.html" %}

{% block title %}
  Donation Page
{% endblock %}


{% block main %}
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg">
        <div class="category-head box-title">
          <div class = "title-text"> Hi There </div>
        </div>
        <div class="category-body">
          Body
        </div>
      </div>
      <div class="col-lg">
        <div class="category-head box-title">
          <div class = "title-text"> Hi There </div>
        </div>
        <div class="category-body">
          Body
        </div>
      </div>
      <div class="col-lg">
        <div class="category-head box-title">
          <div class = "title-text"> Hi There </div>
        </div>
        <div class="category-body">
          Body
        </div>
      </div>
    </div>


    <div class="row mb-5">
      <div class="col-lg">
        <div class="category-head box-title">
          <div class = "title-text"> Hi There </div>
        </div>
        <div class="category-body">
          Body
        </div>
      </div>
      <div class="col-lg">
        <div class="category-head box-title">
          <div class = "title-text"> Hi There </div>
        </div>
        <div class="category-body">
          Body
        </div>
      </div>
      <div class="col-lg">
        <div class="category-head box-title">
          <div class = "title-text"> Hi There </div>
        </div>
        <div class="category-body">
          Body
        </div>
      </div>
    </div>
  </div>
{% endblock %}
