{% extends "layout.html" %}

{% block title %}
  Donation Page
{% endblock %}


{% block main %}
  <div class="container">

    <div class="row mb-5">

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Healthcare Workers
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Homeless
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Working Parents
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

    </div>


    <div class="row mb-5">

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Healthcare Workers
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Homeless
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Working Parents
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

    </div>

    <div class="row mb-5">

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Healthcare Workers
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Homeless
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

      <div class="col-lg">
        <div class="category-head">
          <div class = "title-text">
            Working Parents
          </div>
        </div>
        <div class="category-body">
          <div class="description">
            This is the section of the box where we'll put a description
          </div>
          <a href="/donate">
            <button type="button" class="btn btn-secondary">
              Donate
            </button>
          </a>
        </div>
      </div>

    </div>

  </div>


{% endblock %}
